body {
    font-family: Poppins, sans-serif;
    margin: 0.5;
    padding: 0.5;
    background-color: #007A8D;
}

header {
    background-color: #607C8E;
    color: blue;
    padding: 20px;
    text-align: center;
}

header a {
    color: #607C8E;
    margin: 10px;
    text-decoration: none;
}

.content {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #007A8D;
    color: blue;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
